{% extends 'base.html' %}

{% block content_left %}
<style>
#dev-menu {font-size: 24px;}
#dev-menu ul{margin-left:1.5em;margin-top:10px;font-size:0.8em;}
#dev-menu ul li {margin-bottom:10px;color:#666;}
#dev-menu ul li a{text-decoration:none; display:inline-block;width:100%;height:100%;color:#666;}
#dev-menu ul li a:focus{border:none;text-decoration:none;outline:none;}
#dev-menu ul li a:hover{color:#333}
#dev-menu ul li a.active{color:#e95d24}
#dev-menu li.hide ul{display:none;}
#dev-menu li a.more{margin-left: -1em;}
#dev-menu li a.more:before{content: "\25bc"; font-size:0.8em;width: 1em;display: inline-block;}
#dev-menu li.hide a:before{content: "\25ba";}

.form-field {padding:0.5em; font-size:0.9em;}
.list-values input{display: inline;min-width: 0;width: 2em;}

#onbikewidget-info h1 {padding: 20px 16px 0px 16px;font-size: 20px;font-weight: normal;color:#e95d24;}
#onbikewidget-info .onbikewidget-address {color: #a7a7a7;margin: 8px 16px 20px 16px;}
#onbikewidget-info .onbikewidget-description, #onbikewidget-info .onbikewidget-phones {margin: 20px 16px 30px 16px;}
.data-content #onbikewidget-info p {margin: 0;font-size:16px;padding:10px 10px 0;}

</style>
<div style="height:75px;"></div>
<div id="dev-menu">
  <ul>
    <li>
      <a href="{% url 'dev_index' %}"{%if menu_item.0 == 'index'%} class="active"{%endif%}>Что это такое? </a>
    </li>
    <li{%if menu_item.0 != 'examples'%}  class="hide"{%endif%}>
      <a href="javascript:;" class="more{%if menu_item.0 == 'examples'%} active{%endif%}"> Как это выглядит.</a>
      <ul>
	<li><a href="{% url 'widget_examle' %}"{%if menu_item.1 == 'popup'%} class="active"{%endif%}>Встплывающий блок на карте</a></li>
	<li><a href="{% url 'widget_examle' %}?type=map-embed"{%if menu_item.1 == 'map-embed'%} class="active"{%endif%}>Статический блок на карте</a></li>
	<li><a href="{% url 'widget_examle' %}?type=embed"{%if menu_item.1 == 'embed'%} class="active"{%endif%}>Полный список точек</a></li>
	<li><a href="{% url 'widget_examle' %}?type=embed-one"{%if menu_item.1 == 'embed-one'%} class="active"{%endif%}>Информация по активной точке</a></li>
      </ul>
    </li>
    <li>
      <a href="{% url 'widget_settings' %}"{%if menu_item.0 == 'settings'%} class="active"{%endif%}>
	Настроить виджет
      </a>
    </li>
    <li>
      <a href="#"{%if menu_item.0 == 'support'%} class="active"{%endif%}>
	Обратная связь
      </a>
    </li>
  </ul>
</div>

{% endblock content_left %}

{% block js %}
<script>
  $(function(){
  $("#dev-menu a[href=\"javascript:;\"]").click(function(){
  if($(this).parent().attr('class') == 'hide'){$(this).parent().removeClass('hide');}else{$(this).parent().addClass('hide');}
  })
});
</script>
{% endblock js %}
