{% extends 'base.html' %}

{% block css %}
<style>
</style>

{% endblock css %}


{% block menu %}
{% if show_left_panel %}
{{block.super}}
{% endif %}
{% endblock menu %}

{%if type == 'map-embed'%}
{% block content_left %}
<div style="height:75px;"></div>
<div id="onbikewidget-info"></div>
{% endblock content_left %}
{%endif%}

{% block content_right %}
<div class="data-content" {% if not show_left_panel %}style="margin-left:0px;"{%else%}style="height:100%;"{% endif %}>
  <div id="widget-example" style="height:100%;">
    {%if type == 'map-embed'%}
    <div id="onbikewidget-info"></div>
    {%endif%}
    <div id="onbikewidget-map" style="width:100%; height:100%"></div>
  </div>
  
</div>
{% endblock content_right %}

{% block js %}
<script type="text/javascript" src="/dev/widget/onbike.js?data={{data}}"></script>
{% endblock js %}
