* {
    font-family:Helvetica, sans-serif;
}

.small{
    font-size:75%;
}

html, body{
    margin:0;
    padding:0;
}

.clear {
    clear:both;
}

.content{
    width:80%;
    margin:0 10%;
}

.errorlist{
    color:red;
}
form p{
    margin: 6px 0;
}

.errorlist li, ul{
    margin-top:2px;
    list-style: circle outside none;
}