.top-menu{
    padding:10px;
    background: #2A3333;
}

.top-menu h1{
    color:white;
    margin:0;
}

.top-menu li{
    list-style:none;
    float:left;
    padding:0px 15px;
    font-size:16px;
    //background-color:#999;
    border-right:solid 1px #CCC;
    
}

.top-menu li.last{
    border-right:none;
}

.top-menu li.active{
    font-weight:bold;
}

.top-menu ul{
    float:right;
    margin:5px 0;
}

.top-menu li a{
    color:white;
    text-decoration:none;
}

/* Form sets */
.form-item {
    //padding: 10px;
    border-radius: 5px;
    border: solid 2px #ccc;
    box-shadow: 1px 2px 3px #ccc;
    background: #eee;    
    margin-bottom: 10px;
}
.form-header {
    background: #999;
    padding:5px;
    border-radius: 5px 5px 0px 0px;
}

.form-name{
    cursor:pointer;
}

.form-fields {
    padding:5px;
    overflow:hidden;
    height:0px;
}

.open .form-fields {
    padding:10px;
    height:auto;
}
/* End form sets */

.delete {
    cursor:pointer;
}

.tiny-editor{
    width:100%;
    min-height:500px;;
}