{% extends 'base.html' %}
{% load cache %}
{% load i18n %}


{% block header %}
  <div class="header-menu left">
    <div class="header-menu-item logobanner">
      <a href="/" id="banner" class="logo">ONBIKE.BY</a>
    </div>
  </div>
  <div class="header-menu right">
    <!--
    @TODO
    <div class="header-menu-item">
        <div id="info">
          <i class="icon info"></i> 
          <span>{% trans "О проекте" %}</span>
        </div>
    </div>
    -->
  </div>
{% endblock header %}

{% block content_right %}
<div id="api" class="data-content" {% if show_left_panel %}style="margin-left:0px;"{%else%}style="min-height:100%;"{% endif %}>
{% cache 600 "info_content" %}
  {% for m in methods %}
  <div class="method">
    {% for el in m %}
    {{el|safe}}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endcache %}
{% endblock content_right %}
