{% load static %}
{% load account_widgets %}

{% if user.is_authenticated %}
<div class="header-menu-item dropdown">
    <div id="info-user">
        <i class="icon user"></i> {{ user.username }}
    </div>
    <ul>
        <li class="clearfix"><a href="/account/profile/{{ user.username  }}">Профиль</a></li>
        <li class="clearfix"><a href="{% url 'account_edit' %}">Настройки</a></li>
        <li class="clearfix"><a href="{% url 'logout' %}"><span>Выход</span></a></li>
    </ul>
</div>
{% else %}
<div class="header-menu-item dropdown">
    <div id="user-link">
        <i class="icon user"></i>
        <span>Войти</span>
    </div>
    <ul class="socials clearfix">
        <li class="clearfix"><a href="/login/facebook/">
            Через Фейсбук <img src="/static/images/facebook.png"/>
        </a></li>
        <li class="clearfix"><a class="disabled" href="/login/vk/">
            Через Вконтакте <img src="/static/images/vk.png"/>
        </a></li>
        <li class="clearfix"><a href="/login/twitter/">
            Через Твиттер <img src="/static/images/twitter.png"/>
        </a></li>
    </ul>
</div>
{% endif %}
