{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% load account_widgets %}
{% load staticfiles %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

{% block meta %}
    <!-- @TODO meta info -->
{% endblock meta %}

{% block preload %}
{% endblock preload %}

{% block content %}

    {% block header %}
        <div class="header-menu left">
            <div class="header-menu-item logobanner">
                <a href="/" id="banner" class="logo">ONBIKE.BY</a>
            </div>
        </div>

        <div class="header-menu right">
            {% info_user_widget %}

            <div class="header-menu-item">
                <div id="gid-link">
                    <i class="icon eye"></i>
                    <span>Как это работает?</span>
                </div>
            </div>

            <div class="header-menu-item">
                <div id="info">
                    <i class="icon info"></i>
                    <span>{% trans "О проекте" %}</span>
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block content_center %}
    {% endblock content_center %}
{% endblock content %}

{% block js %}
{% endblock js %}
