{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% load account_widgets %}
{% load staticfiles %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

{% block meta %}
    <!-- @TODO meta info -->
{% endblock meta %}

{% block preload %}
{% endblock preload %}

{% block header %}
    <div class="header-menu left">
        <div class="header-menu-item logobanner">
            <a href="/" id="banner" class="logo">ONBIKE.BY</a>
        </div>
    </div>

    <div class="header-menu right">
        {% info_user_widget %}

        {% info_link_widget %}
    </div>
{% endblock header %}

{% block content_wrapper %}
    {% block content_center %}
    {% endblock content_center %}
{% endblock content_wrapper %}

{% block js %}
{% endblock js %}
