@import url('fonts.css');
@import url('manager.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, *,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

html, body {
    font-family: 'ProximaNovaRegular', Helvetica, Arial, sans-serif;
    height: 100%;
    font-size: 14px;
    position: relative;
    min-width: 800px;
}

b {
    font-weight: bold;
}

/*#lang {
    position:absolute;
    z-index: 1001;
    right: 10px;
    top: 10px;
}

#lang a{
    text-decoration:none;
    float: right;
    margin-left: 5px;
    height: 31px;
    line-height: 31px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 15px;
    padding: 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#lang a:hover {
    background-color: rgba(0,0,0,0.7);
}*/


#social-networks {
    width: 110px;
    position: absolute;
    z-index: 1001;
    right: 10px;
    bottom: 20px;
}

#social-networks a {
    text-decoration:none;
    float: right;
    margin-left: 5px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#social-networks a:hover {
    opacity: 1;
}

#contentWrapper { 
    width: 100%;
    height:100%;
    position: relative;
    margin-top: -48px;
    z-index: 0 !important;
    overflow-y: auto;
}

#main-panel{
    left: 18px;
    top: 66px;
    width: 350px;
    z-index:10;
    position: absolute;
}

#main-panel-wrapper{
    min-height: 100%;
    margin-bottom: -160px;
    position:relative;
    top:0;
}

.main-panel-inner{
    background: #FFF;
    margin-bottom: 18px;
    /*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
}

#main-panel-blank{
    height:160px;
}

#map{
    min-height:100%; 
    position:relative;
}

#main-header{
    background-color: #e95d24;
    color: white;
    margin: 0;
    height: 48px;
    line-height: 48px;
    z-index: 100;
    position: relative !important;
}
#main-header-wrapper {
    width: 100%;
    padding: 0 30px;

}

#main-header .logo {
    width: 97px;
    height: 31px;
    display: block;
    text-indent: -9999px;
    background: url(../images/logo.png);
    background-size: 97px 31px;
    margin-top: 8px;
}

#main-header .back {
    color: white;
    text-decoration: none;
    height: 48px;
    /*width: 160px;*/
    line-height: 48px;
    display: none;
}


#main-header .type {
    display: none;
    height: 48px;
    margin: 0 20px 0 5px;
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    text-spacing: 2px;
}

#main-header h1{
    font-size:18px;
    line-height:16px;
    margin:0;
}

#hmenu{
    float:right;
    height:16px;
    font-size:16px;
    margin-top:-3px;
}
#hmenu a{
    margin-left:15px;
    height:16px;
    text-decoration:none;
    font-weight:normal;
    color:white;
    font-size:16px;
}

#hmenu a>img{
    position:relative;
    top:6px;
}

.header-menu.left{
    float: left;
}


.header-menu.right{
    float: right;
}

.header-menu .header-menu-item{
    height: 48px;
    margin: 0 10px 0 5px;
    position: relative;
    float: left;
    cursor: pointer;
}

.header-menu .header-menu-item > div{
    padding: 0 10px;
}

.header-menu .header-menu-item.hover,
.header-menu .header-menu-item:hover{
    background: rgba(255, 255, 255, .2); 
}

.header-menu .header-menu-item.logobanner:hover{
    background: none;
}


.header-menu .header-menu-item a{
    color: #fff;
    text-decoration: none;
    line-height: 48px;
    font-size: 15px;
}

i.icon{
    display: block;
    float: left;
    line-height: 48px;
    height: 48px;
    margin-right: 6px;
    margin-top: -3px;
}

.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.icon.locations{
    background-image: url(../icons/icon-castle.png);
}

.icon.pin{
    background-image: url(../icons/icon-pin.png);
}

.icon.plus{
    background-image: url(../icons/icon-plus.png);
}

.icon.info{
    background-image: url(../icons/icon-info.png);
}

.social{
    height: 25px;
    width: auto;
    margin-bottom: -8px;
}

.section{
    position:relative;
}

.section.preview iframe{
    margin-left: -20px;
}

.video>a{
    float:left!important;
    position:relative;
}

.video>iframe{
    border-radius:5px;
    border:solid 4px #444;
    box-shadow: 0px 0px 5px black
}

.data-content {
    padding:0;
    min-height:100%;
    position:relative;
    font-size:20px;
}

.data-content h1, .data-content h2, .data-content h3{
    margin-top: 0;
    margin-bottom: 0;
    color: #e95d24;
    font-size: 1.5em;
    font-family:'ProximaNovaExtrabold', Helvetica, Arial, sans-serif;
}
.data-content h1{font-size: 1.5em;}
.data-content h2{font-size: 1.25em;}
.data-content h3{font-size: 1.1em;}

.data-content p{
    font-family:'ProximaNovaRegular', Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0 8px;
    font-size: 14px;
    line-height: 1.25em;
    color: black;
}


.data-content .post-info {color:#e95d24;
			  font-size:0.75m;}
.data-content div {font-family:'ProximaNovaRegular', Helvetica, Arial, sans-serif;}

.post-end {margin-bottom:60px; box-shadow: 0px 1px 2px #444}

.post-links li {color:#e95d24;}
.post-links li>*{color:#626262;text-decoration:none;font-size:16px;}
.post-links li.active>a {color:#444;}
.post-links ul {list-style:none;margin-bottom:10px; padding-left:0;}

#login-badge {
    position:absolute;
    height:auto;
    width:auto;
    display:inline-block;
    right:0px;
    z-index:100;   
    background-color:#e95d24;
    padding:5px;
}
#login-badge a{margin:0;}

#login-badge.unautorized .account-networks, #login-badge:hover p{display:none;}
#login-badge.unautorized:hover .account-networks, #login-badge p{display:block;}

#login-badge p{height:20px;text-align:center;font-size:16px;font-weight:bold; margin:0px; padding:10px;}

.preview {
    font-size:16px;
    margin-top: 3px;
    display: none;
}

.preview h1{
    font-size: 22px;
    font-weight:normal;
}

.preview img{
    width:100%;
    height:auto;
    position:relative;
}

.preview a{
    text-decoration:none;
}

.preview .description-address{
    color: #a7a7a7;
    margin: 8px 0px 15px 0px;
}

.preview-content{
    max-width: 350px;
    padding: 15px;
}

.preview-content p {
    margin: 10px 0px 20px 0px;
}

.fotorama{
    margin: 15px 0;
}

#disqus_thread {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    padding: 16px;
    /* @TODO: запилить нормальные комменты; */
    display: none !important; 
}

.authors {
    margin-top: 0px;
    text-align: center;
}

.authors-item {
    display:inline-block;
    vertical-align: top;
    width: 22%;
    padding: 1.5%;
    text-align:center;
    min-width:165px;
}

.authors-item h1{
    font-size: 15px;
    line-height: 19px;
    margin-top: 10px;
}
.authors-item div{
    font-size: 14px;
    line-height: 18px;
}

.authors-item>div{
    padding: 10px 0 10px;
}

.authors-item img{
    display:inline-block;
    width:130px;
    height:130px;
    overflow:hidden;
    position:relative;
    border-radius: 75px;
}

#info-iframe{
    display: none;
    top: 66px;
    height: 80%;
    position: fixed;
    right: 18px;
    z-index: 1001;
    width: 50%;
    border: none;
    overflow:auto;
    background-color: #fff;
}
/*
.footer {
    padding: 16px 16px 28px 16px;
    border-top: 1px solid #cecece;
    z-index: 10;
    position: relative;
}

.footer ul {
    
}

.footer ul li {
}

.footer ul li a.left {
    float: left;
    margin-right: 16px;

}

.footer ul li a.right {
    float: right;
    margin-left: 16px;
}

.footer ul li a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.footer ul li a:hover {
    color: #e95d24;
    text-decoration: none;
    border-bottom: 1px solid #e95d24;
}

.footer ul li a.dotted {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

.footer ul li a.dotted:hover {
    color: #e95d24;
    text-decoration: none;
    border-bottom: 1px dotted #e95d24;
}*/

#info-share-btns>div{
    margin-right:20px;
    display:inline-block;
    position:relative;
    top:0;
}

#images-preview img{
    position:absolute;
    display:none;
    left:0;
    top:0;
}
#images-preview img.active{
    display:block;
}
#images-preview {
    overflow:hidden;
    position:relative;
}

#images-preview .row-left, #images-preview .row-right{
    top: 0;
    position: absolute;
    width: 220px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 8em;
    z-index: 10;
    color: #333;
    text-shadow: 0px 0px 5px #fff;
    opacity: 0.5;
    cursor:pointer;
}

#images-preview .row-left:hover, #images-preview .row-right:hover{
    opacity: 0.75;
}

#images-preview .row-left{
    left:0;
    text-align:left;
}

#images-preview .row-right{
    right:0;
    text-align:right;
}

/*ADD POINT DIALOG*/
#add-point-dialog{
    position: fixed;
    
    width: 440px;
    max-height: 90%;
    overflow-y: auto;

    margin: 0;
    //padding: 10px;
    z-index: 999;
    top: 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

#add-point-dialog form{
    margin: 0 16px;
}

#add-point-dialog .form-group {
    position: relative;
    opacity: 1;
    transition: .6s;
}

#add-point-dialog .form-group.border {
    padding-bottom: 14px;
    border-bottom: 1px solid #cecece;
}

#add-point-dialog .form-control {
    width: 100%;
    transition: opacity .6s;
    opacity: 1;
    border: 0;
    border-bottom: 1px solid #cecece;
    border-radius: 0;
    background: white;
    font-size: 16px;
    line-height: 1.467;
    padding: 4px;
    height: 32px;
    -webkit-appearance: none;
}

#add-point-dialog input, textarea {
    transition: all 800ms;
    resize: none;  /* removes the resize handle */
    overflow: auto; /* removes default scrolling bars in IE */
    outline:none; 
    font-family:inherit; 
    box-sizing:border-box;
    width: 100%;
    padding: 0px 4px;
    color: #969696;
    margin-top: 18px;
}

#add-point-dialog input:focus {
    border-color: black;
    color: black;
}

#add-point-dialog textarea.form-control {
    height: 80px;
}

#add-point-dialog textarea.form-control:focus {
    border-color: black;
    color: black;
}

#add-point-dialog label.photo {
    font-size: 16px;
    line-height: 1.467;
    padding: 20px 4px;
    float: left;
    color: #969696;
}

#add-point-dialog input.photo {
    width: 290px;
    padding: 0;
    border: none;
}

#add-point-dialog select.category {
    margin: 20px 0 0 20px;
    padding: 5px;
    font-size: 15px;
}

#add-point-dialog .btn-box{
    padding: 10px 0 10px;
    height: 40px;
    margin-top: 0px;
    text-align:center;
}

#add-point-dialog button.btn, #add-point-dialog #upload-imgs.btn{
    float: left;
}

#add-point-dialog .btn{
    float: right;
}

#add-point-dialog textarea:focus, input:focus{
    outline: 0;
}

#add-point-dialog .other-phones{
//margin: 5px 0px 0 20px;
//width: 388px;
}

::-webkit-input-placeholder {
   color: #969696;
}

:-moz-placeholder { /* Firefox 18- */
   color: #969696;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #969696;  
}

:-ms-input-placeholder {  
   color: #969696;  
}


#progressbar{
    z-index: 101;
    position: relative;
    width: 100%;
}

.upload-progress{
    height: 2px;
    margin-bottom: 1px;
    width: 1px;
    background-color: #f0624a;
}

#app-links{
    padding: 16px 16px 8px 16px;
    z-index: 10;
    position:relative;
}

#app-links a{
    color: transparent;
    text-decoration: none;
}

#app-links img{
    margin-right: 3px;
}

#app-links b{
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}


/* fix @TODO hidden pin */
#type-btns #velcom,
#type-btns #parking-velcom{
    display: none;
}

.header-menu .header-menu-item.dropdown ul{
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    margin: 0;
    line-height: 48px;
    width: 220px;
    background: rgba(255, 255, 255, .85);
    list-style: none;
}

.header-menu .header-menu-item.dropdown:hover ul{
    display: block;
    list-style: none;
}

.header-menu .header-menu-item.dropdown ul li{
    color: #000;
}

.header-menu .header-menu-item.dropdown ul li a{
    color: #000;
    padding: 0 12px;
    display: block;
}
.header-menu .header-menu-item.dropdown ul li a:hover{
    background: rgba(150, 150, 150, .4);
}

.header-menu .header-menu-item.dropdown ul li span{
    border-radius: 20px;
    border: 1px transparent solid;
    padding: 4px 10px;
    line-height: 22px;
    margin: 5px 10px;
    display: inline-block;
}

.header-menu .header-menu-item.dropdown li > span.Tname{
    float: left;
    margin-right: 20px;
}
.header-menu .header-menu-item.dropdown li > span.Tnumber{
    float: right;
}

.header-menu .header-menu-item.dropdown .disable > span {
    color: white !important;
    background: rgba(0,0,0,.2) !important;
}

.header-menu .header-menu-item.dropdown .disable > span.Tnumber {
    color: #cecece !important;
    background: white !important;
}


/*
#locations.dropdown>div, #locations.dropdown ul, #locations.dropdown li{
    margin:0;
    padding:0 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
}
#locations.dropdown > div{
    color:white;
    line-height: 48px;
    padding: 0 6px;
}

#locations.dropdown ul{
    padding:0;
    position:absolute;
    z-index:10000;
    left:0;

    overflow: hidden;
    height: auto;
}
#locations.dropdown li{
    background-color: #fefefe;
    opacity: 0.9;
    border-radius:0;
    padding:0;
    height:0px;
}

#locations.dropdown li>a{
    display: block;
    height: 100%;
    width: 100%;
    color: #333
}

#locations.dropdown>div>p{
    margin: 0;
    padding: 0;
    //height: 24px;
    vertical-align: top;
    line-height: 10px;
}
#locations.dropdown li, #locations.dropdown:hover li{display:block;}
#locations.dropdown.visible li{
    border-bottom:solid 1px #ccc;
}*/


/*#locations.dropdown>div span{
display:inline-block;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
width: 5px;
font-size:25px;
}

#locations.dropdown.visible>div span{
display:inline-block;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
*/
#gid-link{
    padding: 8px 0;
    position: relative;
    z-index: 11;
    color: #000;
}
#gid-link a{
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

#gid-link a:hover{
    color: #e95d24;
    border-color: #e95d24;
}

.introjs-helperNumberLayer{
    display: none;
}
.introjs-tooltipReferenceLayer{
    z-index: 9999998;
}
.header-menu-item .introjs-showElement{
    color: #FFF;
    background-color: #e95d24;
}

#main-header.introjs-fixParent{
    width: 100%;
    z-index: 99 !important;
}