h1 {
    font-size: 22px;
    padding: 40px 0 40px 10px;
}

h1.manager {
    font-size: 22px;
    padding: 0;
}

.top-menu{
    padding:10px;
    background: #2A3333;
}

.top-menu h1{
    color:white;
    margin:0;
    font-size: 18px;
}

.top-menu li{
    list-style:none;
    float:left;
    padding:0px 15px;
    font-size:16px;
}

.top-menu li.last{
    border-right:none;
}

.top-menu li.active a{
    color: orange;
}

.top-menu ul{
    float:right;
    margin:5px 0;
}

.top-menu li a{
    color:white;
    text-decoration:none;
}

/* Form sets */
.form-item {
    position:relative;
    border-radius: 3px;
    background: #eee;    
    margin-bottom: 20px;
}

.form-header {
    font-size: 18px;
    padding:12px;
    border-radius: 3px;
}

.form-header:hover {
    background: #cecece; 
}


.form-name{
    cursor:pointer;
}

.form-fields {
    overflow:hidden;
    height:0px;
}

.open .form-fields {
    padding:10px;
    height:auto;
}
/* End form sets */

.delete {
    cursor:pointer;
}

.tiny-editor{
    width:100%;
    min-height:500px;;
}

.alert {
    margin: 10px 0;
    padding: 10px;
    background-color: #CCC;
    color: white!important;
    font-size: 14px!important;
    border-radius: 5px;
}

.alert.error {
    background-color: #D44;

}

.alert.success {
    background-color: #4D4;
}

.image-item {
    position:relative;
    height:115px;
    max-width:auto;
    margin:10px;
    display:inline-block;
    padding:5px;
    border: solid 1px #ccc;
    border-radius: 4px;
}
.image-item img{
    height:100px;
    width:auto;
    display:block;
}
    
.image-item span{
    width:100%;
    font-size:12px;
}

.popup {
    width: 340px;
    height: auto;
    position: relative;
    margin: 200px auto;
    text-align: left;
    border-radius: 5px;
    border: solid 1px #e95d24;
    background-color: #e9e6de;
    padding: 30px;
    color: black;
}

.popup input{
    float: right;
}

.popup p{
    margin-bottom:20px;
    height:40px;
}

.popup label{
    padding:10px 0;
}

.login-btn{
    width: 80%;
    margin: 0 10%;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: none;
    border-radius: 4px;
    border: solid 1px;
    padding: 5px 0;
    box-shadow: 1px 1px 1px #e95d24;
    background-color: #e95d24;
}

table{
    width: 100%;
    margin-bottom:20px;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td{
    text-align:left;
    padding:10px;
    font-size: 16px;
    line-height: 36px;
}

tr:hover {
    background: #eee;
}

thead th, table{
    border-bottom: solid 1px #ccc;
}

label{
    min-width: 15%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

textarea{
    min-width: 80%;
}
input[type="text"], input[type="password"]{
    min-width: 40%;
}

textarea, input[type="text"], input[type="password"] {
    border: solid 1px #999;
    padding: 10px;
}

select {
    border: solid 1px #999;
    padding: 10px;
}

.small{
    font-size:75%;
}

html, body{
    margin:0;
    padding:0;
}

.clear {
    clear:both;
}

.content{
    width:80%;
    margin:0 10%;
}

.errorlist{
    color:red;
}
form p{
    margin: 20px 0;
}

.error {
    font-size:12px;
    color:red;
}

.errorlist li,.errorlist ul{
    margin-top:2px;
    list-style: circle outside none;
}
.close {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 14px;
    line-height: 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding: 2px;
}

.close:hover {
    background: red;
}

.btn, button {
    text-decoration: none;
    background-color: #777;
    padding: 10px;
    border-radius: 3px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    opacity: .9;
}

.btn:hover, button:hover {
    opacity: 1;
}

.danger {
    background-color: #cd463f;
    border-color:#bd362f;
}

.edit {
    background-color: #15d;
    border-color:#04c;
}

.success {
    background-color: #61b361;
    color: #fff;
}

.icon-btn {
    height:24px;
    margin-left:20px;
}

.btn-box {
    padding: 20px 0 80px;
    border-top: 1px solid #cecece;
    margin-top: 40px;
}