@import url('fonts.css');
@import url('manager.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, *,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    font-family:'ProximaNovaRegular', Helvetica, Arial, sans-serif;
    height:100%;
    font-size:14px;
}

b {
    font-weight: bold;
}

#lang {
    position:absolute;
    z-index: 1001;
    right: 10px;
    top: 10px;
}

#lang a{
    text-decoration:none;
    float: right;
    margin-left: 5px;
    height: 31px;
    line-height: 31px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 15px;
    padding: 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#lang a:hover {
    background-color: rgba(0,0,0,0.7);
}

#social-networks {
    width: 110px;
    position: absolute;
    z-index: 1001;
    right: 10px;
    bottom: 20px;
}

#social-networks a {
    text-decoration:none;
    float: right;
    margin-left: 5px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#social-networks a:hover {
    opacity: 1;
}

#contentWrapper { 
    width: 100%;
    height:100%;
    overflow-y: auto;
}

#main-panel{
    left: 440px;
    margin-left: -440px;
    width: 440px;
    height:100%; 
    float:left;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    z-index:10;
    position:relative;
    overflow:auto;
}

#main-panel-wrapper{
    min-height: 100%;
    margin-bottom: -45px;
    position:relative;
    top:0;
}

#main-panel-blank{
    height:45px;
}

#map{
    min-height:100%; 
    position:relative;
}

#header {
    background-color: #e95d24;
    color: white;
    margin: 0;
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
    width: 408px;
    position: fixed;
    z-index: 100;
    top:0;
}

#header .logo {
    width: 97px;
    height: 31px;
    display: block;
    text-indent: -9999px;
    background: url(../images/logo.png);
    background-size: 97px 31px;
    margin-top: 8px;
}

#header .back {
    color: white;
    text-decoration: none;
    height: 48px;
    width: 20px;
    line-height: 48px;
    display: block;
}


#header .type {
    display: none;
    width: 440px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    text-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#header h1{
    font-size:18px;
    line-height:16px;
    margin:0;
}

#hmenu{
    float:right;
    height:16px;
    font-size:16px;
    margin-top:-3px;
}
#hmenu a{
    margin-left:15px;
    height:16px;
    text-decoration:none;
    font-weight:normal;
    color:white;
    font-size:16px;
}

#hmenu a>img{
    position:relative;
    top:6px;
}

.social{
    height: 25px;
    width: auto;
    margin-bottom: -8px;
}

.section{
    position:relative;
    padding:30px;
}

.section.preview iframe{
    margin-left:-20px;
}

.views {
    font-size: 16px;
    margin-top: 3px;
    padding: 16px;
}

.views ul{
    list-style:none;
    padding:0;
}

.views li{
    height: 36px;
    margin-bottom: 12px;
}

.views li>span{
    border-radius: 20px;
    color: white;
    height: 24px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.views h1{
    font-size:16px;
    font-weight: normal;
    color:#666;
    padding: 0;
    margin: 0;
    margin: 10px 0 25px;
}

.post-links li>span.number, .views li>span.number{
    float: right;
    color: #a6a6a6;
    padding: 6px 6px;
}

.views .control .disable>span {
    color: white !important;
    background: rgba(0,0,0,.2) !important;
}

.views .control .disable>span.number {
    color: #cecece !important;
    background: white !important;
}

.video>a{
    float:left!important;
    position:relative;
}

.video>iframe{
    border-radius:5px;
    border:solid 4px #444;
    box-shadow: 0px 0px 5px black
}

.data-content h1{
    margin-top: 0;
    margin-bottom: 0;
    color: #e95d24;
    font-size: 28px;
    font-family:'ProximaNovaExtrabold', Helvetica, Arial, sans-serif;
}

.data-content p{
    font-family:'ProximaNovaRegular', Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0 20px;
    font-size: 20px;
    line-height: 26px;
    color: black;
}

.data-content {
    //width:100%;
    margin-left:440px;
    //padding: 30px;
    padding:0;
    min-height:100%;
    background-color:#e9e6de;
    //float:left;
    position:relative;
}

.data-content .post-info {color:#e95d24;
			  //font-weight:bold;
			  font-size:14px;}
.data-content div {//font-size:18px;
		   //font-weight: bold;
           font-family:'ProximaNovaRegular', Helvetica, Arial, sans-serif;}

.post-end {margin-bottom:60px; box-shadow: 0px 1px 2px #444}

.post-links li {color:#e95d24;}
.post-links li>*{color:#626262;text-decoration:none;font-size:16px;}
.post-links li.active>a {color:#444;}
.post-links ul {list-style:none;margin-bottom:10px; padding-left:0;}

#login-badge {
    position:absolute;
    height:auto;
    width:auto;
    display:inline-block;
    right:0px;
    z-index:100;   
    background-color:#e95d24;
    padding:5px;
}
#login-badge a{margin:0;}

#login-badge.unautorized .account-networks, #login-badge:hover p{display:none;}
#login-badge.unautorized:hover .account-networks, #login-badge p{display:block;}

#login-badge p{height:20px;text-align:center;font-size:16px;font-weight:bold; margin:0px; padding:10px;}

.dropdown{display:inline-block;list-style:none;margin:0;padding:0;font-size:14px;font-weight:bold;padding-left:5px;}
.dropdown:hover li{display:block;}
.dropdown li{
    display:none;
    cursor:pointer;
    background-color:rgba(255,255,255,0.5);
    padding:5px;
    border-radius:5px;
}

.dropdown li>a{
    text-decoration:none;
    color:#666;
}
.dropdown li>a:hover{
    color:black;
}

.preview {
    font-size:16px;
    margin-top: 3px;
    display: none;
}

.preview h1{
    padding: 20px 16px 0px 16px;
    font-size: 20px;
    font-weight:normal;
}

.preview img{
    width:100%;
    height:auto;
    position:relative;
}

.preview a{
    text-decoration:none;
}

.preview .description-address{
    color: #a7a7a7;
    margin: 8px 16px 20px 16px;
}

.preview-content p {
    margin: 20px 16px 30px 16px;
}

#disqus_thread {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    padding: 16px;
}

.authors {
    margin-top: 30px;
    text-align: center;
}

.authors-item {
    display:inline-block;
    vertical-align: top;
    width: 20%;
    padding: 1.5%;
    text-align:center;
    min-width:165px;
}

.authors-item h1{
    font-size: 15px;
    line-height: 19px;
    margin-top: 20px;
}
.authors-item div{
    font-size: 14px;
    line-height: 18px;
}

.authors-item>div{
    padding: 20px 0 20px;
}

.authors-item img{
    display:inline-block;
    width:130px;
    height:130px;
    overflow:hidden;
    position:relative;
    border-radius: 75px;
}

#info-iframe{
    top:0;
    height:0;
    position:absolute;
    left: 0;
    z-index:1001;
    width:100%;
    border: none;
    overflow:auto;
    height: 100%;
    background-color: #e9e6de;
}

.data-content.info-iframe{
    position:relative;
    padding:0;
    height:0;
    min-height:0;
    top:0;
}

.footer {
    padding: 16px 16px 28px 16px;
    border-top: 1px solid #cecece;
    z-index: 10;
    position: relative;
}

.footer ul {
    
}

.footer ul li {
}

.footer ul li a.left {
    float: left;
    margin-right: 16px;

}

.footer ul li a.right {
    float: right;
    margin-left: 16px;
}

.footer ul li a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.footer ul li a:hover {
    color: #e95d24;
    text-decoration: none;
    border-bottom: 1px solid #e95d24;
}

.footer ul li a.dotted {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

.footer ul li a.dotted:hover {
    color: #e95d24;
    text-decoration: none;
    border-bottom: 1px dotted #e95d24;
}

#info-share-btns>div{
    margin-right:20px;
    display:inline-block;
    position:relative;
    top:0;
}

#images-preview img{
    position:absolute;
    display:none;
    left:0;
    top:0;
}
#images-preview img.active{
    display:block;
}
#images-preview {
    overflow:hidden;
    position:relative;
}

#images-preview .row-left, #images-preview .row-right{
    top: 0;
    position: absolute;
    width: 220px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 8em;
    z-index: 10;
    color: #333;
    text-shadow: 0px 0px 5px #fff;
    opacity: 0.5;
    cursor:pointer;
}

#images-preview .row-left:hover, #images-preview .row-right:hover{
    opacity: 0.75;
}

#images-preview .row-left{
    left:0;
    text-align:left;
}

#images-preview .row-right{
    right:0;
    text-align:right;
}

/*ADD POINT DIALOG*/
#add-point-dialog{
    position: fixed;
    width: 440px;
    height: auto;
    margin: 0;
    //padding: 10px;
    z-index: 999;
    top: 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

#add-point-dialog form{
    margin: 0 16px;
}

#add-point-dialog .form-group {
    position: relative;
    opacity: 1;
    transition: .6s;
}

#add-point-dialog .form-group.border {
    padding-bottom: 14px;
    border-bottom: 1px solid #cecece;
}

#add-point-dialog .form-control {
    width: 100%;
    transition: opacity .6s;
    opacity: 1;
    border: 0;
    border-bottom: 1px solid #cecece;
    border-radius: 0;
    background: white;
    font-size: 16px;
    line-height: 1.467;
    padding: 4px;
    height: 32px;
    -webkit-appearance: none;
}

#add-point-dialog input, textarea {
    transition: all 800ms;
    resize: none;  /* removes the resize handle */
    overflow: auto; /* removes default scrolling bars in IE */
    outline:none; 
    font-family:inherit; 
    box-sizing:border-box;
    width: 100%;
    padding: 0px 4px;
    color: #969696;
    margin-top: 18px;
}

#add-point-dialog input:focus {
    border-color: black;
    color: black;
}

#add-point-dialog textarea.form-control {
    height: 80px;
}

#add-point-dialog textarea.form-control:focus {
    border-color: black;
    color: black;
}

#add-point-dialog label.photo {
    font-size: 16px;
    line-height: 1.467;
    padding: 20px 4px;
    float: left;
    color: #969696;
}

#add-point-dialog input.photo {
    width: 290px;
    padding: 0;
    border: none;
}

#add-point-dialog select.category {
    margin: 20px 0 0 20px;
    padding: 5px;
    font-size: 15px;
}

#add-point-dialog .btn-box{
    padding: 10px 0 10px;
    height: 40px;
    margin-top: 0px;
    text-align:center;
}

#add-point-dialog button.btn{
    float: left;
}

#add-point-dialog .btn{
    float: right;
}

#add-point-dialog textarea:focus, input:focus{
    outline: 0;
}

#add-point-dialog .other-phones{
//margin: 5px 0px 0 20px;
//width: 388px;
}

::-webkit-input-placeholder {
   color: #969696;
}

:-moz-placeholder { /* Firefox 18- */
   color: #969696;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #969696;  
}

:-ms-input-placeholder {  
   color: #969696;  
}


