{% extends 'base_manager.html' %}

{% block inner_content %}
<h1>Объекты для модерирования</h1>
<table>
  <thead>
    <tr>
      <th>Метод</th>
      <th>Состояние нотификации<th>
      <th>Название</th>
      <th>Дата создания</th>
      <th>Тип</th>
      <!--th></th-->
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in objects%}
    <tr>
      <td>{%if obj.method == 'a'%}Добавление{%else%}Изменение{%endif%}</td>
      <td>{{obj.state}}</td>
      {%if obj.point%}
      <td>{{obj.point.name}}</td>
      <td>{{obj.point.created}}</td>
      <td>{{obj.point.type}}</td>
      <td><a title="Редактировать информацию о пункту" class="icon-btn" href="{% url point-edit obj.point.id %}"><img src="/static/icons/edit.png"/></a></td>
      {%else%}
      <td>{{obj.track.name}}</td>
      <td>{{obj.track.created}}</td>
      <td>{{obj.track.type}}</td>
      <td><a title="Редактировать информацию о маршруте" class="icon-btn" href="{% url track-edit obj.track.id %}"><img src="/static/icons/edit.png"/></a></td>
      {%endif%}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock inner_content %}
