{% extends 'base_manager.html' %}
{% load i18n %}

{% block inner_content %}
<h1>Index page</h1>
<div class="section">
  <div style="margin-bottom:40px">
    <h2 style="font-size:2em">Редактирование страницы Info.</h2>
    <ul>
      {% get_available_languages as LANGUAGES %}
      {%for c, t in LANGUAGES%}
      <li><a style="font-size:1.25em" href="{% url info_edit%}?language={{c}}">{{t}}</a></li>
      {%endfor%}
    </ul>
  </div>


  <h2>Список изображений для редактора html.</h2>
  <div>
    <h3>Последние загруженные изображения</h3>
    <div>
      {% for i in images %}
      <div class="image-item">
	<a id="{{i.id}}" class="close delete" href="javascript:;">X</a>
	<img src="{{i.image.url}}"/>
	<span>{{i.image.name}}</span>
      </div>
      {% endfor %}
    </div>
    <h3>Загрузить новые изображения</h3>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <button>Загрузить</button>
    </form>
  </div>
</div>
{% endblock inner_content %}
