{% extends 'base_manager.html' %}

{% block inner_content %}
<h1>Редактирование пунктов</h1>
<ul>
  <li style="width:100px;padding:10px;float:left;text-align:center;"><a  style="cursor:pointer;text-decoration:none;color:#333;font-weight:bold;" href="{%url manager_points%}">All</a></li>
  {%for t in types%}
  <li style="width:100px;padding:10px;float:left;text-align:center;border-left:solid 1px"><a style="cursor:pointer;text-decoration:none;color:#333;font-weight:bold;" href="{%url manager_points t.id%}">{{t.name}}</a></li>
  {%endfor%}
  <li class="clear"></li>
</ul>
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Дата создания</th>
      <th>Тип</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in points%}
    <tr>
      <td>{{p.name}}</td>
      <td>{{p.created}}</td>
      <td>{{p.type}}</td>
      <td><a title="Редактировать расширенное описание пункта" class="icon-btn" href="{% url post-edit-point p.id %}"><img src="/static/icons/edit_post.png"/></a></td>
      <td><a title="Редактировать информацию о пункту" class="icon-btn" href="{% url point-edit p.id %}"><img src="/static/icons/edit.png"/></a></td>
      <td><img title="Удалить пункт" id={{p.id}} class="delete icon-btn" src="/static/icons/delete.png"/></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="button-box">
  <a  class="btn success" href="{% url point-add %}">Добавить пункт</a>
</div>
{% endblock inner_content %}
