{% extends 'base_manager.html' %}

{% block inner_content %}
<h1>{{obj.point.name}}</h1>
{% for i in info.errors %}
<p class="alert error">{{i}}</p>
{% endfor %}
{% for i in info.messages %}
<p class="alert success">{{i}}</p>
{% endfor %}
<div>Статус заявки: <b style="font-weight:bold">{{obj.get_state_display}}</b></div>
{%if obj.method == 'a' %}
<p>
  Запрос на добавление данной точки был сформирован {{obj.created}} через клиентское приложение с идентификатором "{{obj.app.uid}}".
</p>
{%else%}
<p>
  Предложение по изменению данной точки поступило {{obj.created}} через клиентское приложение с идентификатором "{{obj.app.uid}}".
</p>
<h2>Описание:</h2>
<p>
  {{obj.description}}
</p>
{%endif%}
<form action="." method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {%if form%}
  <div>
    <h1>Информация о точке</h1>
    {{form.as_p}}
    {%for p in form.instance.photo_set.all%}
    <div class="image-item">
      <img src="{{p.image.url}}"/>
      <span>{{p.image.name}}</span>
    </div>
    {%endfor%}
  </div>
  {%endif%}
  <div>
    <h1>Обратная связь</h1>
    {%if mform%}
    {{mform.as_p}}
    {%else%}
    <p>{{obj.email}}</p>
    {%endif%}
  </div>
  <div class="btn-broup">
    {%if obj.method == 'a' and obj.state == 'm'%}
    <button class="btn success" name="submit" value="to_current_page">Сохранить</button>
    <a class="btn" href="../">Отмена</a>
    {%endif%}
  </div>
</form>
{% endblock inner_content %}
