{% extends 'base_manager.html' %}

{% block inner_content %}
<style>
  .filter-input{float:left;width:200px;}
</style>
<h1>Редактирование пунктов</h1>
<form id="pointfilter-form">
  <div class="filter-input">
    <h2>Тип объекта:</h2>
    <div>
      <label>
	<input type="radio"{%if cur_type == 'all'%} checked="checked"{%endif%} name="type" value="all"/>
	All
      </label>
    </div>
    {%for t in types%}
    <div>
      <label>
	<input type="radio"{%if cur_type == t.slug%} checked="checked"{%endif%} name="type" value="{{t.slug}}"/>
	{{t.name}}
      </label>
    </div>
    {%endfor%}
  </div>
  <div class="filter-input">
    <h2>Локаль:</h2>
    <div>
      <label>
	<input type="radio"{%if cur_location == 'all'%} checked="checked"{%endif%} name="location" value="all"/>
	All
      </label>
    </div>
    {%for l in locations%}
    <div>
      <label>
	<input type="radio"{%if cur_location == l.name%} checked="checked"{%endif%} name="location" value="{{l.name}}"/>
	{{l.name}}
      </label>
    </div>
    {%endfor%}
  </div>

</form>
<div class="clear" style="height:20px;"></div>
<div class="button-box">
  <a  class="btn success" href="{% url 'point-add' %}">Добавить пункт</a>
</div>
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Дата создания</th>
      <th>Тип</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in points%}
    <tr>
      <td>{{p.name}}</td>
      <td>{{p.created}}</td>
      <td>{{p.type}}</td>
      <td><a title="Редактировать расширенное описание пункта" class="icon-btn" href="{% url 'post-edit-point' p.id %}"><img src="/static/icons/edit_post.png"/></a></td>
      <td><a title="Редактировать информацию о пункту" class="icon-btn" href="{% url 'point-edit' p.id %}"><img src="/static/icons/edit.png"/></a></td>
      <td><img title="Удалить пункт" id="{{p.id}}" class="delete icon-btn" src="/static/icons/delete.png"/></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="button-box">
  <a  class="btn success" href="{% url 'point-add' %}">Добавить пункт</a>
</div>


{% endblock inner_content %}

{% block js %}
<script type="text/javascript" src="/static/js/manager.js"></script>

<script>
  $(function(){
  $('#pointfilter-form input').change(function(ev){
  if(document.location.href.indexOf('?')>0){
  document.location.href = document.location.href.substr(0,document.location.href.indexOf('?')) + '?' + this.name + '='+this.value;
  }
  else{
  document.location.href = document.location.href + '?' + this.name + '='+this.value;
  }
  });
  });
</script>
{% endblock js %}
