{% extends 'base_manager.html' %}

{% block inner_content %}
<h1>Редактирование маршрутов</h1>
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Дата создания</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for t in tracks%}
    <tr>
      <td>{{t.name}}</td>
      <td>{{t.created}}</td>
      <td><a title="Редактировать расширенное описание маршрута" class="icon-btn" href="{% url post-edit t.id %}"><img src="/static/icons/edit_post.png"/></a></td>
      <td><a title="Редактировать информацию о маршруте" class="icon-btn" href="{% url track-edit t.id %}"><img src="/static/icons/edit.png"/></a></td>
      <td><img title="Удалить маршрут" id={{t.id}} class="delete icon-btn" src="/static/icons/delete.png"/></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="button-box">
  <a  class="btn success" href="{% url track-add %}">Добавить маршрут</a>
</div>
{% endblock inner_content %}
