{% extends 'base_manager.html' %}

{% block inner_content %}
<h1>{{title}}</h1>
{% for i in info.errors %}
<p class="alert error">{{i}}</p>
{% endfor %}
{% for i in info.messages %}
<p class="alert success">{{i}}</p>
{% endfor %}
<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
{% if form.instance.type.obj == 't' %}
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
        ymaps.ready(init);
        function init () {
            var myMap = new ymaps.Map('map', {
                    center: [53.904263226577555,27.5539547105276],
              zoom: 12,
              behaviors: ['scrollZoom']
                });
				var polyline = new ymaps.Polyline({{form.instance.coordinates}}
, {},         
{
					strokeColor: '#ff0000',
                    strokeWidth: 5 // ширина линии
                });
			myMap.geoObjects.add(polyline);
			polyline.editor.startEditing();	
			//polyline.editor.startDrawing();	
        //$('#stopEditPolyline').attr('disabled', false);
        $('#stopEditPolyline').click(
                function () {
         
                    //$('#stopEditPolyline').attr('disabled', true);
 
                    polyline.editor.stopEditing();
 
	            printGeometry(polyline.geometry.getCoordinates());
                });	
        }
        function printGeometry (coords) {
	console.log(coords.length)
            $('#id_coordinates').val(JSON.stringify(coords));
        }		
</script>
<div id="map" style="width:100%; height:600px"></div>
<a href="javascript:;" class="btn" id="stopEditPolyline">Завершить редактирование<a/>
{%endif%}

{%if form.instance.pk%}
{%for p in form.instance.photo_set.all%}
<div class="image-item">
  <div>
    <a id="{{p.id}}" class="close delete" href="javascript:;">X</a>
    <img src="{{p.image.url}}"/>
    <span class="form-name">{{p.image.name}}</span>
  </div>
</div>
{%endfor%}
{%endif%}

{%if trans_forms%}
<div>
  <h1>Переводы</h1>
  {%for f in trans_forms%}
  <p><label for="id_be-name">Наименование<b>({{f.prefix}})</b>:</label>{{f.name}}</p>
  {%endfor%}
  {%for f in trans_forms%}
  <p><label for="id_be-name">Описание<b>({{f.prefix}})</b>:</label>{{f.description}}</p>
  {%endfor%}
  {%for f in trans_forms%}
  {%if f.address.label%}
  <p><label for="id_be-name">Адрес<b>({{f.prefix}})</b>:</label>{{f.address}}</p>
  {%endif%}
  {%endfor%}
</div>
{%endif%}
{%if mod_notifi%}
<h1>Информация для мобильного клиента.</h1>
<div>
  <p>Заявка на добавление точки подана {{mod_notifi.created}} с помощью мобильного клиента.</p>
  <label>Уведомление о принятии решения:</label>
  <textarea name="mod_notifi">{{mod_notifi.message}}</textarea>
</div>
{%endif%}
<div class="btn-box">
  <button class="btn success" name="submit" value="to_current_page">Сохранить</button>
  <button class="btn edit" name="submit" value="to_section">Сохранить и вернуться к списку</button>
  <a class="btn" href="{{back_url}}">Назад</a>
</div>
</form>
{% endblock inner_content %}
