{% extends 'base_manager.html' %}

{% block inner_content %}
<h1>{{title}}</h1>
{% for i in info.errors %}
<p class="alert error">{{i}}</p>
{% endfor %}
{% for i in info.messages %}
<p class="alert success">{{i}}</p>
{% endfor %}
<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
{% if form.instance.type.obj == 't' %}
<div id="editor">
  <div id="map" style="width:100%; height:600px; margin-bottom:20px;"></div>
  <a href="javascript:track_editor.normalize(track_editor.middle_dx);" class="btn">Нормализовать</a>
  <a href="javascript:track_editor.write_to_input();" class="btn" title="После этого кнопка отмены изменений вернет маршрут в текущее состояние.">Принять изменения</a>
  <a href="javascript:track_editor.load_track();track_editor.show();" class="btn">Отменить изменения</a>
  <p id="editor-info" class="alert"></p>
</div>
{%endif%}

{%if form.instance.pk%}
{%for p in form.instance.photo_set.all%}
<div class="image-item">
  <div>
    <a id="{{p.id}}" class="close delete" href="javascript:;">X</a>
    <img src="{{p.image.url}}"/>
    <span class="form-name">{{p.image.name}}</span>
  </div>
</div>
{%endfor%}
{%endif%}

{%if trans_forms%}
<div>
  <h1>Переводы</h1>
  {%for f in trans_forms%}
  <p><label for="id_be-name">Наименование<b>({{f.prefix}})</b>:</label>{{f.name}}</p>
  {%endfor%}
  {%for f in trans_forms%}
  <p><label for="id_be-name">Описание<b>({{f.prefix}})</b>:</label>{{f.description}}</p>
  {%endfor%}
  {%for f in trans_forms%}
  {%if f.address.label%}
  <p><label for="id_be-name">Адрес<b>({{f.prefix}})</b>:</label>{{f.address}}</p>
  {%endif%}
  {%endfor%}
</div>
{%endif%}
{%if mod_notifi%}
<h1>Информация для мобильного клиента.</h1>
<div>
  <p>Заявка на добавление точки подана {{mod_notifi.created}} с помощью мобильного клиента.</p>
  <label>Уведомление о принятии решения:</label>
  <textarea name="mod_notifi">{{mod_notifi.message}}</textarea>
</div>
{%endif%}
<div class="btn-box">
  <button class="btn success" name="submit" value="to_current_page">Сохранить</button>
  <button class="btn edit" name="submit" value="to_section">Сохранить и вернуться к списку</button>
  <a class="btn" href="{{back_url}}">Назад</a>
</div>
</form>
{% endblock inner_content %}

{% block js %}
{{block.super}}
{% if form.instance.type.obj == 't' %}
<link type="text/css" href="/static/leaflet73/leaflet.css" rel="stylesheet"/>
<script type="text/javascript" src="/static/leaflet73/leaflet-src.js"></script>
<script type="text/javascript" src="/static/leaflet73/leaflet.js"></script>
<script src="/static/js/track_editor.js" type="text/javascript"></script>
{%endif%}
{% endblock js %}
