{% extends 'base_manager.html' %}

{% block inner_content %}
<h1>{{title}}</h1>
{% for i in info.errors %}
<p class="alert error">{{i}}</p>
{% endfor %}
{% for i in info.messages %}
<p class="alert success">{{i}}</p>
{% endfor %}
<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
{%for p in form.instance.photo_set.all%}
<div class="image-item">
  <a id="{{p.id}}" class="close delete" href="javascript:;">X</a>
  <img src="{{p.image.url}}"/>
  <span>{{p.image.name}}</span>
</div>

{%endfor%}
<div class="btn-box">
  <button class="btn success" name="submit" value="to_current_page">Сохранить</button>
  <button class="btn edit" name="submit" value="to_section">Сохранить и вернуться к списку</button>
  <a class="btn" href="{{back_url}}">Назад</a>
</div>
</form>

{%if comments_instance%}
<script type="text/javascript">
  var disqus_shortname = 'onbike';
  var disqus_identifier = 'onbike-{{comments_instance.uid}}';
  var disqus_title = '{{comments_instance.name}}';

  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{%endif%}


{% endblock inner_content %}
