<div class='comment' id='comment-{{id}}'>
    <a class='avatar'>
        <img class='ui avatar image' src='http://api.adorable.io/avatars/70/{{username}}' alt=''>
    </a>
    <div class='content'>
        <a class='author'>{{username}}</a>
        <div class='metadata'>
            <span class='date repeatdata' data-timestamp='{{timestamp}}'>{{timemoment}}</span>
        </div>
        <div class='text'>{{message}}</div>
        <div class='actions'>
            <a class='reply' data-commentid='{{id}}'>{{label_reply}}</a>
        </div>
        <div class='comments'></div>
    </div>
</div>
