<div class="data-content" style="margin-left: 0px;">
<h1>About_</h1>
<p>Мы создаём велосипедную карту города, с&nbsp;помощью которой можно будет легко понять, по какому маршруту лучше добраться до работы, съездить в&nbsp;гости или провести велосипедную экскурсию для иностранных гостей.</p>
<p>Проверенная и актуальная информация, полезные точки на&nbsp;карте, удобство и&nbsp;интерактивность&nbsp;&mdash; примерно к&nbsp;этому мы стремимся.</p>
<p>Добавляйте информацию об объектах (пока что - через <a style="text-decoration: none; color: #576cad;" href="mailto:onbike.by@gmail.com">onbike.by@gmail.com</a>), комментируйте и корректируйте нас, вместе мы сможем сделать очень важный шаг в&nbsp;светлое велосипедное будущее.</p>
</div>