<div id="account_badges_wrapper" class="clearfix">
    <div class="ui card">
		<div class="content">
	    	<img class="ui avatar image" src="http://api.adorable.io/avatars/70/{{user.get_full_name}}" alt=""> {{user.username}}
	    </div>
		<div class="content">
		    <span class="right floated">
		    	<i class="heart outline like icon"></i>
		    	17 likes
		    </span>
		    <i class="comment icon"></i>
		    	3 comments
		</div>
    </div>
	<div class="ui small images">
    {% for key, value in badges.items %}
    	<div class="image">
	        {% if value.state %}
				<img src="/static/images/{{key}}_true.png" alt="">
			{% else %}
				<img data-content="{{value.popup}}" class="uipopup" src="/static/images/{{key}}_false.png" alt="">
			{% endif %}
		</div>
    {% endfor %}
	</div>
</div>
