{% load login %}
<!DOCTYPE html>
<html>
  <head>
    <title>onbike.by{% block subtitle %}{% endblock subtitle %}</title>
    <link type="image/png" rel="icon" href="/static/images/favicon.png"/>
    <link type="text/css" href="/static/css/main.css" rel="stylesheet"/>
    <link type="text/css" href="/static/account/css/login.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/assets/fonts/webfontkit-20130719-091136/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/static/assets/fonts/webfontkit-20130719-091612/stylesheet.css" type="text/css" charset="utf-8" />

    <meta property="og:title" content="ONBIKE.BY" />
    <meta property="og:url" content="http://onbike.by/" />
    <meta property="og:image" content="http://onbike.by/static/images/favicon.png" />
    <meta name="description" content="Мы создаём велосипедную карту города, с помощью которой можно будет легко понять, по какому маршруту лучше добраться до работы, съездить в гости или провести велосипедную экскурсию для гостей столицы."/>
    

    {% block css %}
    {% endblock css %}
  </head>
  <body>
    {% block content %}

    <div id="social-networks">
      <a href="https://www.facebook.com/onbike.by">
	<img src="/static/images/facebook.png"/>
      </a>
      <a href="https://vk.com/onbikeby">
	<img src="/static/images/vk.png"/>
      </a>
      <a href="https://twitter.com/onbike_by">
	<img src="/static/images/twitter.png"/>
      </a>
    </div>


    <div id="main-panel">
      <div id="header">
	<div id="hmenu">
	  <!--a href="{% url blog %}">Блог</a-->
	  <!--a href="{% url info %}"><img src="/static/icons/info.png"/></a-->
	  <a id="info" href="javascript:;"><img src="/static/icons/info.png"/></a>
	</div>
	<h1>
	  <a href="/" id="banner">ONBIKE.BY</a>
	  <a href="javascript:;" id="back-to-banner" style="display:none">&lt; назад</a>
	</h1>
      </div>

      {% block content_left %}
      {% endblock content_left %}
      
    </div>

    <div id="contentWrapper"> 
      {% block content_right %}
      {% endblock content_right %}
    </div>

    {% endblock content %}


    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    {% block js %}
    {% endblock js %}

    <script type="text/javascript">
      $('#info').click(function(ev){
      var infoF  = $('#info-iframe');
      if(infoF.length==0){
      var data_box = $('.data-content');
      var info = $('<iframe id="info-iframe" src="/info/"/>').css({position: 'absolute', 
                                 width: data_box.innerWidth()-5,
                                 height: data_box.innerHeight()-5,
                                 top: -data_box.innerHeight(),
                                 'z-index': 1000,
                                 left: $('#main-panel').width(),
                            });
      info.load(function(ev){$(this).animate({top:0});});
      info.appendTo('body');
      }
      else{
      infoF.animate({top: 1.5*infoF.height()},{complete:function(){infoF.remove();}})
      }
      });
    </script>
    
  </body>
</html>
