{% load login %}
<!DOCTYPE html>
<html>
  <head>
    <title>Rovar{% block subtitle %}{% endblock subtitle %}</title>
    <link type="image/png" rel="icon" href="/static/images/favicon.png"/>
    <link type="text/css" href="/static/css/main.css" rel="stylesheet"/>
    <link type="text/css" href="/static/account/css/login.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/assets/fonts/webfontkit-20130719-091136/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/static/assets/fonts/webfontkit-20130719-091612/stylesheet.css" type="text/css" charset="utf-8" />

    {% block css %}
    {% endblock css %}
  </head>
  <body>
      {% block content %}
      <div class="content">
      </div>
      {% endblock content %}
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    {% block js %}
    {% endblock js %}

  </body>
</html>
