{% extends 'base.html' %}

{% block css %}
{% endblock css %}

{% block content_left %}
<div class="section post-links">
  <ul>
    {% for k in links.iteritems%}
    <li>
      <!--{{k.0}}-->
      <ul>
	{% for l in k.1%}
	<li{%if l.id == currentid%} class="active"{%endif%}>
	  <a href="{% url blog_post l.id %}">{{l.title}}</a>
	  <span class="number">{{l.P.track.duration}} {% if l.P.track.duration %}мин{%endif%}</span>
	</li>
	{%endfor%}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content_left %}

{% block content_right %}
<div class="data-content">
  {%for post in posts%}
  <h1>{{post.title}}</h1>
  <p class="post-info"><span class="date">{{ post.created|date:'d M, Y' }}</span></p>
  <div>
    {{post.text|safe}}
  </div>
  <hr class="post-end"/>
  {%endfor%}
  <div id="disqus_thread"></div>
</div>
{% endblock content_right %}

{% block js %}
{%if comments_instance%}
<!--script type="text/javascript">
    var disqus_shortname = 'onbike';
    var disqus_identifier = 'onbike-{{comments_instance.uid}}';
    var disqus_title = '{{comments_instance.name}}';

    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script-->
{%endif%}

{% endblock js %}
