{% extends 'base.html' %}

{% block css %}
<link type="text/css" href="/static/leaflet/leaflet.css" rel="stylesheet"/>
{% endblock css %}




{% block content_left %}
<div class="preview">
  <div class="preview-content"></div>
  <div id="disqus_thread" style="display:none"></div>
  <div class="hr-shadow"></div>
</div>
<div class="section views">
  <h1>Показывать на карте:</h1>
  <ul class="control">
    {%for T in types%}
    <li id="type-{{T.obj}}-{{T.id}}" class="type-all">
      <span style="background-color:{{T.color}}">{{T.name}}</span>
      <span class="number">{{T.count_items}}</span>
    </li>
    {%endfor%}
  </ul>
</div>  
<div class="hr-shadow"></div>
{% endblock content_left %}

{% block content_right %}
<div id="map" class="data-content"></div>
{% endblock content_right %}


{% block js %}
<script type="text/javascript" src="/static/leaflet/leaflet-src.js"></script>
<script type="text/javascript" src="/static/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/static/js/map.js"></script>

{% endblock js %}
