{% extends 'base.html' %}
{% load cache %}

{% block css %}
<link type="text/css" href="/static/leaflet/leaflet.css" rel="stylesheet"/>
{% endblock css %}

{% block preload %}
<div style="position:absolute; top:-5000px">
  {%for T in types%}
  {%if T.count_items%}
  <img src="{{T.image.url}}"/>
  <img src="{{T.image2.url}}"/>
  {%endif%}
  {%endfor%}
  <img src="/static/icons/pin-add.png"/>
</div>
{% endblock preload %}

{% block content_left %}
<div class="preview">
  <div class="preview-content"></div>
  <div id="disqus_thread" style="display:none"></div>
</div>

<div class="section views">
  <h1>Показывать на карте:</h1>
  <ul id="type-btns" class="control">
    {%for T in types%}
    {%if T.count_items%}
    <li id="{{T.slug}}" class="type-all">
      <span style="background-color:{{T.color}}">{{T.name}}</span>
      <span style="color:{{T.color}}" class="number">{{T.count_items}}</span>
    </li>
    {%endif%}
    {%endfor%}
  </ul>
</div>
<div class="footer">
  <ul>
    <li><a class="left" href="#">О проекте</a></li>
    <li><a class="left" href="#">Блог</a></li>
    <li><a class="left" href="#">API</a></li>
    <li><a class="right dotted" href="#">Па-беларуску</a></li>
    <li><a class="right dotted" href="#">In English</a></li>
  </ul>
</div>
{% endblock content_left %}

{% block content_right %}
{%cache 600 "info_content"%}
<div class="data-content info-iframe" style="">
  <div id="info-iframe">
    <div style="padding:30px">
      {%include "info-content.html"%}
      <div class="authors">
	{% for a in authors %}
	<div class="authors-item">
          <img src="{{a.image.url}}"/>
          <h1>{{a.name}}</h1>
          <div>{{a.description|safe}}</div>
	</div>    
	{% endfor %}
      </div>
      <div id="info-share-btns">
	<div>
	  <div class="fb-share-button" data-href="http://onbike.by" data-width="64" data-type="box_count"></div>
	</div>
	<div style="top:4px">
	  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://onbike.by" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
	</div>
      </div>
    </div>
  </div>
</div>
{%endcache%}

<div id="map" class="data-content" style="padding:0;"></div>
<div id="lang">
  <a id="add-point-btn"  href="javascript:;">
    + Добавить точку
  </a>
</div>
<div id="add-point-dialog" style="display:none">
  <h1>Добавление точки</h1>
  <form id="add-point-form" method="POST" action="/api/point/add" enctype="multipart/form-data">
    
    <input type="hidden" value="" name="coordinates"/>
    <!--div class="input">
	<label>Координаты</label>
    </div-->
    <div class="input">
      <label>Название</label>
      <input class="for-clear" type="text" value="" name="title"/>
    </div>
    <div class="input">
      <label>Категория</label>
      <select name="type">
	shop, bikerental, entertainment, parking, service
	<option value="shop">Магазин</option>
	<option value="bikerental">Прокат</option>
	<option value="entertainment">Развлечение</option>
	<option value="parking">Парковка</option>
	<option value="service">Сервис</option>
      </select>
    </div>
    <div class="input">
      <label>Описание</label>
      <textarea class="for-clear" type="text" name="description"></textarea>
    </div>
    <div class="input">
      <label>Адрес</label>
      <input class="for-clear" type="text" value="" name="address"/>
    </div>
    <div class="input">
      <label>Телефоны</label>
      <input class="for-clear" type="text" value="" name="phones"/>
    </div>
    <div class="input">
      <label>Сайт</label>
      <input class="for-clear" type="text" value="" name="website"/>
    </div>
    <div class="input">
      <label>Фото</label>
      <input type="file" value="" accept="image/*" name="image"/>
    </div>
    <div class="input">
      <label>Email</label>
      <input type="text" value="{%if user.is_authenticated%}{{user.email}}{%endif%}" name="email"/>
    </div>
    
    <div id="ajax-errors">
    </div>
    <div class="btn-box" style="padding: 10px 0 10px;margin-top: 0px;">
      <button class="btn success">Добавить точку</button>
      <a class="btn" id="add-point-form-close" href="javascript:;">Отмена</a>
    </div>
    <input type="hidden" value="webclient" name="uid"/>
  </form>
</div>

{% endblock content_right %}



{% block js %}
<script type="text/javascript" src="/static/leaflet/leaflet-src.js"></script>
<script type="text/javascript" src="/static/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/static/js/map.api.js"></script>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'onbikeby'; // required: replace example with your forum shortname
  var disqus_identifier = '{%if rovar_uid%}{{rovar_uid}}{%else%}home{%endif%}';
  var disqus_title = '{%if obj%}{{obj.title}}{%else%}home{%endif%}';
  {% if rovar_uid %}
  var disqus_url = 'http://onbike.by/{{rovar_uid}}/';
  {% endif %}
  
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=364131847036990";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


{% endblock js %}
