{% extends 'base.html' %}
{% load cache %}
{% load i18n %}

{% block css %}
<link type="text/css" href="/static/leaflet/leaflet.css" rel="stylesheet"/>
{% endblock css %}

{% block preload %}
<div style="position:absolute; top:-5000px">
  {%for T in types%}
  {%if T.count_items%}
  <img src="{{T.image.url}}"/>
  <img src="{{T.image2.url}}"/>
  {%endif%}
  {%endfor%}
  <img src="/static/icons/pin-add.png"/>
</div>
{% endblock preload %}

{% block content_left %}
{% get_available_languages as LANGUAGES %}
<div class="preview">
  <div class="preview-content"></div>
  <div id="disqus_thread" style="display:none"></div>
</div>

<div class="section views">
  <h1>{% trans "Показывать на карте:" %}</h1>
  <ul id="type-btns" class="control">
    {%for T in types%}
    {%if T.count_items%}
    <li id="{{T.slug}}" class="type-all">
      <span style="background-color:{{T.color}}">{% trans T.name %}</span>
      <span style="color:{{T.color}}" class="number">{{T.count_items}}</span>
    </li>
    {%endif%}
    {%endfor%}
  </ul>
</div>
<div class="footer">
  <ul>
    <li><a class="left" href="#">{% trans "О проекте" %}</a></li>
    <li><a class="left" href="#">{% trans "Блог" %}</a></li>
    <li><a class="left" href="#">API</a></li>
    {%for c, t in LANGUAGES%}
    {%if LANGUAGE_CODE != c%}<li><a class="right dotted" href="{%url set_language%}?language={{c}}">{{t}}</a></li>{%endif%}
    {%endfor%}
  </ul>
</div>
{% endblock content_left %}

{% block content_right %}
{%cache 600 "info_content" LANGUAGE_CODE%}
<div class="data-content info-iframe" style="">
  <div id="info-iframe">
    <div style="padding:30px">
      {%include template_name%}
      <div class="authors">
	{% for a in authors %}
	<div class="authors-item">
          <img src="{{a.image.url}}"/>
          <h1>{{a.name}}</h1>
          <div>{{a.description|safe}}</div>
	</div>    
	{% endfor %}
      </div>
      <div id="info-share-btns">
	<div>
	  <div class="fb-share-button" data-href="http://onbike.by" data-width="64" data-type="box_count"></div>
	</div>
	<div style="top:4px">
	  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://onbike.by" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
	</div>
      </div>
    </div>
  </div>
</div>
{%endcache%}

<div id="map" class="data-content" style="padding:0;"></div>
<div id="lang">
  <a id="add-point-btn"  href="javascript:;">
    {% trans "+ Добавить точку" %}
  </a>
</div>
<div id="add-point-dialog" style="display:none">
  <form id="add-point-form" method="POST" action="/api/point/add" enctype="multipart/form-data">
    
    <input type="hidden" value="" name="coordinates"/>
    <!--div class="input">
	<label>Координаты</label>
    </div-->
    
    <div class="form-group">
      <input type="text" class="form-control" value="" placeholder="{% trans "Название *" %}" name="title" />
    </div>
    
    <div class="form-group border">
        <div class="input">
            <label class="photo">{% trans "Категория" %} <sup>*</sup></label>
            <select name="type" class="category">
                shop, bikerental, entertainment, parking, service
                <option value="shop">{% trans "Магазин"%}</option>
                <option value="bikerental">{% trans "Прокат" %}</option>
                <option value="entertainment">{% trans "Развлечения"%}</option>
                <option value="parking">{% trans "Велопарковка" %}</option>
                <option value="service">{% trans "Сервис" %}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
      <textarea type="text" class="form-control" value="" placeholder="{% trans "Описание (время работы, ориентиры и т.д.)" %}" name="description"></textarea>
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" value="" placeholder="{% trans "Адрес *" %}" name="address" />
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" value="" placeholder="{% trans "Телефон" %}" name="phones" />
    </div>

    <div class="form-group">
      <input type="text" class="form-control" value="" placeholder="{% trans "Сайт" %}" name="website" />
    </div>

    <div class="form-group">
      <input type="text" class="form-control" value="{%if user.is_authenticated%}{{user.email}}{%endif%}" placeholder="{% trans "Ваш Email (мы не будем спамить, честно)" %}" name="email" />
    </div>
    
    <div class="form-group">
      <label class="photo">{% trans "Фото *" %}</label>
      <input type="file" class="form-control photo" value="" accept="image/*" name="image" />
    </div>
    
    <div id="ajax-errors">
    </div>
    <div class="btn-box">
      <button class="btn success">{% trans "Добавить точку" %}</button>
      <a class="btn" id="add-point-form-close" href="javascript:;">{% trans "Отмена" %}</a>
    </div>
    <input type="hidden" value="webclient" name="uid"/>
  </form>
</div>

{% endblock content_right %}



{% block js %}
<script type="text/javascript" src="/static/leaflet/leaflet-src.js"></script>
<script type="text/javascript" src="/static/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/static/js/map.api.js"></script>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'onbikeby'; // required: replace example with your forum shortname
  var disqus_identifier = '{%if rovar_uid%}{{rovar_uid}}{%else%}home{%endif%}';
  var disqus_title = '{%if obj%}{{obj.title}}{%else%}home{%endif%}';
  var disqus_config = function () { 
  this.language = language_code;
  };
  {% if rovar_uid %}
  var disqus_url = 'http://onbike.by/{{rovar_uid}}/';
  {% endif %}
  
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=364131847036990";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


{% endblock js %}
