{% extends 'base.html' %}

{% block css %}
<!--link type="text/css" href="/static/leaflet/leaflet.css" rel="stylesheet"/-->
{% endblock css %}


{% block content %}
<div class="data-content" style="margin-left:0px;">
  <h1>О проекте</h1>
  <p>
    Мы создаём велосипедную карту города, с помощью которой можно будет легко понять, по какому маршруту лучше добраться до работы, съездить в гости или провести велосипедную экскурсию для гостей столицы.
  </p>
  <p>
    Проверенная и актуальная информация, полезные точки на карте, удобство и интерактивность - примерно к этому мы стремимся.
  </p>
  <p>
    Пишите, рассказывайте о своих маршрутах, присылайте фотографии велопарковок - вместе мы сможем сделать очень важный шаг в светлое велосипедное будущее.
  </p>

<!--div id="fb-root"></div-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=364131847036990";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://onbike.by" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

  <div class="authors">
    {% for a in authors %}
    <div class="authors-item">
      <div class="mask-img"> 
	<img src="{{a.image.url}}"/>
	<img src="/static/images/mask.png"/>
      </div>
      <h1>{{a.name}}</h1>
      <p>{{a.description}}</p>
    </div>    
    {% endfor %}
  </div>
</div>

{% endblock content %}

{% block js %}

{% endblock js %}
