{% extends 'base.html' %}

{% block css %}
<!--link type="text/css" href="/static/leaflet/leaflet.css" rel="stylesheet"/-->
{% endblock css %}


{% block menu %}
{% if show_left_panel %}
{{block.super}}
{% endif %}
{% endblock menu %}

{% block content_right %}
<div class="data-content" {% if not show_left_panel %}style="margin-left:0px;"{%else%}style="min-height:100%;"{% endif %}>
  <div style="padding:30px">
    {%include template_name%}
    <div class="authors">
      {% for a in authors %}
      <div class="authors-item">
        <img src="{{a.image.url}}"/>
        <h1>{{a.name}}</h1>
        <div>{{a.description|safe}}</div>
      </div>    
      {% endfor %}
    </div>
    <div id="info-share-btns">
      <div>
	<div class="fb-share-button" data-href="http://onbike.by" data-width="64" data-type="box_count"></div>
      </div>
      <div style="top:4px">
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://onbike.by" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
      </div>
    </div>
  </div>
</div>
{% endblock content_right %}

{% block js %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=364131847036990";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock js %}
