{% extends 'base.html' %}

{% block css %}
<!--link type="text/css" href="/static/leaflet/leaflet.css" rel="stylesheet"/-->
{% endblock css %}


{% block content %}
<div class="data-content" style="margin-left:0px;">
  <h1>О проекте</h1>
  <p>
    Мы создаём велосипедную карту города, с помощью которой можно будет легко понять, по какому маршруту лучше добраться до работы, съездить в гости или провести велосипедную экскурсию для гостей столицы.
  </p>
  <p>
    Проверенная и актуальная информация, полезные точки на карте, удобство и интерактивность - примерно к этому мы стремимся.
  </p>
  <p>
    Пишите, рассказывайте о своих маршрутах, присылайте фотографии велопарковок - вместе мы сможем сделать очень важный шаг в светлое велосипедное будущее.
  </p>


  <div class="authors">
    <div class="authors-item">
      <img/>
      <h1>Рома Цыбульский</h1>
      <p>Идея и руководство проектов. Все видео Рома снял сам.</p>
    </div>
    <div class="authors-item">
      <img/>
      <h1>Александр Бараускас</h1>
      <p>Программирование и техническое сопровождение.</p>
    </div>
    <div class="authors-item">
      <img/>
      <h1>Тарас Куба</h1>
      <p>Дизайн сайта и сопровождения для iOS.</p>
    </div>
    <div class="authors-item">
      <img/>
      <h1>Алена Мельченко</h1>
      <p>Ответственная за мобильную разработку. Приложение для iOS сделано в студии OrangeSoft</p>
    </div>
    <div class="clear"></div>
  </div>
</div>

{% endblock content %}

{% block js %}

{% endblock js %}
