<div class="data-content" style="margin-left: 0px;">
<h1>О проекте J</h1>
<p>Мы создаём велосипедную карту города, с&nbsp;помощью которой можно будет легко понять, по какому маршруту лучше добраться до работы, съездить в&nbsp;гости или провести велосипедную экскурсию для гостей столицы.</p>
<p>Проверенная и актуальная информация, полезные точки на&nbsp;карте, удобство и&nbsp;интерактивность&nbsp;&mdash; примерно к&nbsp;этому мы стремимся.</p>
<p>Пишите, рассказывайте о&nbsp;своих маршрутах, присылайте фотографии велопарковок&nbsp;&mdash; вместе мы сможем сделать очень важный шаг в&nbsp;светлое велосипедное будущее.</p>
</div>