{% extends 'base.html' %}

{% block css %}
<link type="text/css" href="/static/leaflet73/leaflet.css" rel="stylesheet"/>
<style>
#widget-example{//position:relative;
width:100%; height:100%;}
#widget-example p{margin: 5px;padding:0; font-size:12px;}
#widget-example h1{font-size:20px;}

#onbikewidget-map {width:60%;height:100%;min-height:600px;}
#onbikewidget-info {width:40%;float:left;}
</style>

{% endblock css %}


{% block menu %}
{% if show_left_panel %}
{{block.super}}
{% endif %}
{% endblock menu %}

{% block content_right %}
<div class="data-content" {% if not show_left_panel %}style="margin-left:0px;"{%else%}style="min-height:100%;"{% endif %}>
  <div id="widget-example">
    <div id="onbikewidget-info"></div>
    <div id="onbikewidget-map"></div>
  </div>
  
</div>
{% endblock content_right %}

{% block js %}
<script type="text/javascript" src="/static/leaflet73/leaflet-src.js"></script>
<script type="text/javascript" src="/static/leaflet73/leaflet.js"></script>


    <script type="text/javascript" src="/static/widget/libs/inherit.js"></script>
    <script type="text/javascript" src="/static/widget/widget.js"></script>

{% endblock js %}
