.account-networks{
    text-align:center;    
}
.account-networks>a {
    margin: 0 10px;
    border-radius:4px;
    border: solid 1px #ccc;
    text-align: center;
    display:inline-block;
    width:100px;
    padding-bottom:10px;
    text-decoration:none;
    font-family: Verdana, sans, Arial;
    font-weight:bold;
    color:#FFF;
    text-shadow:0px 0px 3px black;
    background-color:#CCF;
    background-image:url("/static/account/img/network-bg.png");
    background-size: 100% 100%;

}
.account-networks img {border:none;}

.account-networks .user_img{float:left;display:inline-block;width:20px;height:auto;}

#settings_tab{
    display: block;
}

#settings_tab li{
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 0 -5px 2px -5px;
}

#settings_tab li:hover,
#settings_tab li:active,
#settings_tab li.active{
    background: #dadada;
}

#settings_tab li a{
    font-size: 14px;
    display: block;
    position: relative;
    height: 50px;
    line-height: 34px;
    padding: 8px 10px 8px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3c3c3c;
    font-weight: 700;
}
